{% extends 'templates/app.twig' %}

{% block content %}
	<div class="content">
	    <div class="title">
		{% if auth.check %}
			Bienvenue {{ auth.user.surname }} {{ auth.user.name }}
		{% else %}
			Bienvenue
		{% endif %}
		</div>
	</div>
{% endblock %}