body {
	padding-top: 80px;
	padding-bottom: 40px;
}

.content {
	margin: 0 auto;
    max-width: 100%;
}

.title {
	padding-top: 30%;
	text-align: center;
    font-size: 96px;
}


.clear {
	display:block;
	clear: both;
}

.btn-save-hidden{
	visibility:hidden;
}



/* custom ax5grid */
.coldisabled{
	background-color: #e0e0eb;
}